<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

ul input[type=text] {
  padding: 4px;
  font-size: 17px;
  border: none;
}

ul .search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul .search-container button:hover {
  background: #ccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

</style>
</head>
<body>

<h1>Contacts</h1>


  <ul>
    <li class="newcontact"><a href="/new_contact">Add Contact</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Useful Links</a>
      <div class="dropdown-content">
        <a href="https://www.whitepages.com/">WhitePages</a>
        <a href="https://www.mapquest.com/">MapQuest</a>
        <a href="https://www.google.com/">Google</a>
      </div>
    </li>
    <li class="logout"><a href="/sessions/logout" style="color:red">Log Out</a></li>
    <li style="float:right">
      <a div class="search-container">
        <input type="text" placeholder="Search Contacts" name="search" id="myInput" onkeyup="myFunction()">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div></a>
    </li>
  </ul>
  <br>

<form method="post" action="delete_con">
   <table class="myTable" id="myTable">
    <tr>
    <th onclick="sortTable(0)">Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Options</th>
    </tr>
    <% res_arr.each do |r|%>
    <tr>
    <td><div class="row_data"  contenteditable="true" name="names" autofocus><%= r['names']%></div></td>
    <td><div class="row_data"  contenteditable="true" name="phone"><%= r['phone']%></div></td>
    <td><div class="row_data"  contenteditable="true" name="address"><%= r['address']%></div></td>
    <td><scan><button name="id" value="<%= r['id'] %>">Delete</button><button name="edit">Update</button></scan></td>
    </tr>
    <%end%>
  </table>
</form>

<script>
// searches through the names of contacts
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
// to sort the contact names alphabetically
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
</body>