<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
/*li.logout:hover {
	color: black;
}

li.newcontact:hover, .dropdown:hover .dropbtn {
    background-color: #f44336;
}
*/
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

ul input[type=text] {
  padding: 4px;
  font-size: 17px;
  border: none;
}

ul .search-container button {
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul .search-container button:hover {
  background: #ccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

</style>
</head>
<body>

<h1>Contacts</h1>

<ul>
  <li class="newcontact"><a href="/new_contact">Add Contact</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Useful Links</a>
    <div class="dropdown-content">
      <a href="https://www.whitepages.com/">WhitePages</a>
      <a href="https://www.mapquest.com/">MapQuest</a>
      <a href="https://www.google.com/">Google</a>
    </div>
  </li>
  <li class="logout"><a href="/sessions/logout" style="color:red">Log Out</a></li>
  <li style="float:right">
  	<a div class="search-container">
      <input type="text" placeholder="Search Contacts" name="search" id="myInput" onkeyup="myFunction()">
      <button type="submit"><i class="fa fa-search"></i></button>
  	</div></a>
  </li>
</ul>
<br>


<form method="post" action="delete_con">
	
	<table class="myTable">
    <tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Address</th>
		<th>Options</th>
			<th></th>
		</tr>
    <tr>
	<% res_arr.each_with_index do |r, i|%>
	  <td><div class="row_data" id="<%res_arr[i]%>" contenteditable="true" name="names" autofocus0><%= r['names']%></div></td>
	  <td><div class="row_data" id="<%res_arr[i]%>" contenteditable="true" name="phone"><%= r['phone']%></div></td>
	  <td><div class="row_data" id="<%res_arr[i]%>" contenteditable="true" name="address"><%= r['address']%></div></td>
	    <!-- <td><span class="btn_edit" > <a href="#" class="btn btn-link " row_id="row_id" >Edit</a> </span>
		  Save and Cancel button only show when Edit is clicked -->
		<!-- <span class="btn_save"> <a href="#" class="btn btn-link"  row_id="row_id"> Save</a> | </span>
		<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="row_id"> Cancel</a> | </span> -->
		<!-- </td> -->
		<td><input type="submit" value="Delete"></td>
	  </tr>
		 <%end%>
	</table>
	<!-- <input type="submit" value="Submit"> -->
</form>
</body>

<script>
// searches through the names of contacts
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementByClass("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

</script>